        .bgvideo{
            z-index: -10;
            height: 100%;
            width: 100%;
            object-fit: cover;
            padding: 0;
            position: fixed;
            top: 0;
            left: 0;
        }
        body{
          background-image: linear-gradient(black , rgb(62, 80, 88));
          background-repeat: no-repeat;
          background-attachment: fixed;
          color: white;
        }
        .header{
          color: rgb(0, 173, 242);
        }
        .navbar-brand {
          font-weight: bold;
          font-size: 20px;
          letter-spacing: 1px;
          color: white !important;
        }
        .navbar {
          box-shadow: 0 4px 6px rgba(0,0,0,0.3);
        }
        
        
        .offcanvas-body .nav-link {
          font-size: 18px;
          margin: 5px 0;
          transition: 0.3s;
        }
        .offcanvas-body .nav-link:hover {
            color: #00796b;
            transform: translateX(5px);
        }
        .offcanvas-footer {
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 14px;
            color: #444;
        }
        .Text h1 {
            text-shadow: 0 0 30px rgb(0, 255, 224);
              
        }
        #card1:hover{
          transform: scale(1.07);
        }
        #card2:hover{
          transform: scale(1.07);
        }
        #card3:hover{
          transform: scale(1.07);
        }